
@import "@less/vars.less";

.app-bar {
  box-sizing: border-box;
  background: var(--base-color);
  color: var(--text-color);
  // box-shadow: 0 0px 10px rgba(0,0,0,0.04);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  // padding: 10px;
  z-index: 2;

  height: @appbar-height;
  width: 100%;

  .branding {
    flex: 1;
    padding: 0 @padding-default;
    display: flex;
    align-items: center;
    img.logo {
      width: 45px;
      height: 45px;
    }
    .title {
      text-transform: uppercase;
      padding-left: 10px;
      font-weight: 300;
      font-size: 1.1em;
      letter-spacing: 0.1em;
      // margin-top: 3px;
    }
  }

  .actions {
    // flex: 2;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    // padding: @padding-default;

    .action-group {
      display: flex;
    }



    .action {
      text-decoration: none;
      cursor: pointer;
      width: auto;
      display: flex;
      padding: @base-unit + 4;
      margin: 0;
      border-radius: 0;
      box-shadow: none;
      border: none;
      // padding: @base-unit @base-unit @base-unit - 3;
      background-color: transparent;
      border-radius: @input-border-radius;
      color: var(--text-color);

      &:hover {
        // background-color: rgba(0,0,0,0.03);
        color: var(--accent-color);
      }

      &:focus {
        background-color: var(--active-bg-color);
      }

      &[disabled]:hover {
        background-color: transparent;
        color: var(--disabled-text-color);
      }

      .icon {
        margin: 0;
        font-size: 1.5em;
      }
    }
  }

  .global-actions {
    padding: 0;
    padding-right: @padding-smaller;
  }
}

.app.appbar-left {
  .app-bar {
    // &.left {
      align-items: unset;
      // justify-content: space-between;
      flex-direction: column;
      height: 100%;
      width: @appbar-width;
      border-right: 1px solid rgba(0, 0, 0, 0.06);
  
      .branding {
        flex: unset;
        flex-direction: column;
        align-items: center;
        padding: @padding-default 0;
        background-color: rgba(0, 0, 0, 0.03);
  
        .title {
          display: none;
        }
      }
  
      .actions, .action-group {
        flex-direction: column;
        flex: 2;
      }
  
      .global-actions {
        // flex: 1;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        padding-bottom: @padding-smaller;
      }
    }
  // }
}