
@import "@less/vars.less";

.app-bar {
  box-sizing: border-box;
  background: var(--base-color);
  color: var(--text-color);
  // box-shadow: 0 0px 10px rgba(0,0,0,0.04);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  // padding: 10px;
  z-index: 2;

  height: @appbar-height;
  width: 100%;

  .branding {
    flex: 1;
    padding: 0 @padding-default;
    display: flex;
    align-items: center;
    img.logo {
      width: 45px;
      height: 45px;
    }
    .title {
      text-transform: uppercase;
      padding-left: 10px;
      font-weight: 300;
      font-size: 1.1em;
      letter-spacing: 0.1em;
      // margin-top: 3px;
    }
  }

  .actions {
    // flex: 2;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    // padding: @padding-default;

    .action-group {
      display: flex;
    }

    .action {
      display: flex;
      padding: @base-unit + 4;
      color: var(--text-color);
      text-decoration: none;
      cursor: pointer;


      > .icon {
        font-size: 1.5em;
        color: var(--text-color);
      }

      &:active > .icon {
        color: var(--selection-bg-color);
      }
    }
  }
}

.app.appbar-left {
  .app-bar {
    // &.left {
      align-items: unset;
      // justify-content: space-between;
      flex-direction: column;
      height: 100%;
      width: @appbar-width;
      border-right: 1px solid rgba(0, 0, 0, 0.06);
  
      .branding {
        flex: unset;
        flex-direction: column;
        align-items: center;
        padding: @padding-default 0;
        background-color: rgba(0, 0, 0, 0.03);
  
        .title {
          display: none;
        }
      }
  
      .actions, .action-group {
        flex-direction: column;
        flex: 2;
      }
  
      .global-actions {
        // flex: 1;
        display: flex;
        flex-direction: column-reverse;
      }
    }
  // }
}