@import "@less/vars.less";
@import "@less/css-helpers.less";

/*
.progress.global {
  height: 4px;
  > .progress-track {
    height: 4px;
  }
}
*/

.view {
  // width: 100%;
  // position: absolute;
  // top: @appbar-height;
  // bottom: 0;
  // overflow: auto;
  padding-top: @appbar-height;
  padding-left: 0;

  > .content {
    box-sizing: border-box;
    padding: @padding-container;
    width: 100%;
  }
}

.appbar-left {
  .view {
    padding-top: 0;
    padding-left: @appbar-width;
  }
}



.view-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;


  &.no-appbar {
    > .view {
      padding-top: 0;
      padding-left: 0;
    }
  }
}
.fadeup-transitions {
  -moz-transition: -moz-transform 400ms cubic-bezier(0.19, 1, 0.22, 1), opacity 250ms ease;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.19, 1, 0.22, 1), opacity 250ms ease;
  -o-transition: -o-transform 400ms cubic-bezier(0.19, 1, 0.22, 1), opacity 250ms ease;
  -ms-transition: -ms-transform 400ms cubic-bezier(0.19, 1, 0.22, 1), opacity 250ms ease;
  transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1), opacity 250ms ease;
}
.fadeup-enter {
  opacity: 0;
  .translate(0, 50px);
}
.fadeup-enter.fadeup-enter-active {
  // position: absolute;
  .fadeup-transitions;
  .transformNone;
  opacity: 1;
}
.fadeup-exit {
  opacity: 1;
  .transformNone;
  // .fadeup-transitions;
}
.fadeup-exit.fadeup-exit-active {
  .fadeup-transitions;
  // position: absolute;
  // width: 100%;
  opacity: 0;
  .translate(0, -50px);
}


.alert {
  display: flex;
  flex-direction: column;
  width: 350px;

  > .title {
    padding: @padding-container;
    background-color: rgba(0,0,0,0.05);
    border-radius: @base-border-radius @base-border-radius 0 0;
    > h4, > p {
      margin: @base-unit 0;
    }
    .icon {
      margin-right: @base-unit;
    }
  }
  > .content {
    padding: @padding-container @padding-container @base-unit;
    flex: 3;
    min-height: 100px;
  }
  > .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: @padding-container;
    background-color: rgba(0,0,0,0.05);
    border-radius: 0 0 @base-border-radius @base-border-radius;
    > .button {
      margin: 0;
      margin-left: @base-unit;
    }
  }
}